<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.hardware.Nios2HardwareLaunchConfiguration">
<booleanAttribute key="acceptBadSysId" value="true"/>
<booleanAttribute key="acceptBadTimestamp" value="true"/>
<stringAttribute key="byteStreamDeviceCableName" value="DE-SoC on localhost [USB-1]"/>
<stringAttribute key="byteStreamDeviceDeviceID" value="2"/>
<stringAttribute key="byteStreamDeviceInstanceID" value="0"/>
<booleanAttribute key="downloadProgram" value="true"/>
<stringAttribute key="elfFile" value="E:\DE1-SOC\class10-Digital_Freq\software\freq\freq.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="freq.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="freq"/>
<stringAttribute key="processorCableName" value="DE-SoC on localhost [USB-1]"/>
<stringAttribute key="processorDeviceIndex" value="2"/>
<stringAttribute key="processorInstanceId" value="0"/>
<booleanAttribute key="runProgram" value="true"/>
</launchConfiguration>
